# IDE specific files
.idea/
*.iml
*.iws
*.ipr

# Android specific files
.gradle/
local.properties
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
**/lint/
**/google-services.json

# Signing files
*.jks
*.keystore
*.p12

# Logs and databases
*.log
*.sqlite

# OS specific files
.DS_Store
Thumbs.db

# Other
secrets.xml
